<title>Opciones de pago</title>
<link rel="stylesheet" href="../CSS/payment.css">

<nav class="navbar navbar-expand-sm navbar-light nav1">
    <a class="navbar-brand" href="/">NutriPet Healthy</a>

    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<div class="pasos-compra">
    <h3>1. Carro de compra</h3>
    <h3>2. Detalles de envio</h3>
    <h3>3. Opciones de pago</h3>
</div>

<div class="resumen-together">
    <div class="contenedor-master">

        <h4 class="h4-metodo-pago">Metodo de pago</h4>
        <hr class="hr-divisor">
        <div class="radios">
            <div class="box-radio-2">
                <div class="box-radio-3">
                    <input class="seleccion-radio" type="radio" name="envio" id="">
                </div>
                <div class="informacion-envio">
                    <h6>Paypal</h6>
                    <p>La forma sencilla y segura de pagar</p>
                    <div class="Paypal">
                        <img src="/Images/templates/paypal.png" alt="">
                    </div>

                </div>
            </div>
        </div>
        <hr class="hr-divisor">
    </div>

    <div class="total-compra">
        <div class="media media-2">
            <div class="media-left">
                <h4 class="mt-0 mb-1 h4-ticket">Total de compra</h4>
                <div class="horizontal">
                    <hr class="hr-divisor-ticket">
                </div>
                <div>
                    <p id="detalle-compra" class="t-compra"></p>
                </div>
                <div class="horizontal">
                    <hr class="hr-divisor-ticket">
                </div>
                <p id="monto-total" class="t-compra"></p>
                <div class="inp-1">
                    <button onclick="window.location.href = '/shopping/payment';">Siguiente</button>
                </div>
                <div class="inp-2">
                    <input onclick="window.location.href = '/shopping/shipping';" type="submit" value="Cancelar">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/DOM/payment.js"></script>