<title>Producto</title>
<link rel="stylesheet" href="/CSS/product.css">

<nav class="navbar navbar-expand-sm navbar-light nav1">
    <a class="navbar-brand" href="/">NutriPet Healthy</a>
</nav>

<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="modalTitleId">
                Producto
            </h3>
        </div>
        <hr>
        <div class="modal-body">
            <div class="table-responsive">
                <div class="contenedor">
                    <div class="contenedor-together">
                        <div class="producto-carrusel">
                            <div id="carouselId" class="carousel" data-bs-ride="carousel">
                                <div class="carousel-inner" role="listbox">
                                    {{#each product.images}}
                                    <div class="carousel-item {{#if @first}}active{{/if}}">
                                        <img src="../../../{{this}}"
                                            alt="Imagen {{../product.generalCharacteristics.[1]}}"
                                            class="d-block mx-auto">
                                    </div>
                                    {{/each}}
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselId"
                                    data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselId"
                                    data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>

                        <div class="descripcion-breve">
                            <div>
                                <strong>
                                    <p class="desc-breve">
                                        Alimento {{product.generalCharacteristics.[1]}}
                                        {{product.generalCharacteristics.[2]}} para {{product.petCharacteristics.[0]}}
                                        {{product.petCharacteristics.[1]}} {{product.petCharacteristics.[2]}} sabor
                                        {{product.specifications.[0]}} en {{product.specifications.[2]}}
                                        de {{product.specifications.[1]}}
                                    </p>
                                    <br>
                                    <strong>
                                        <p class="desc-precio">
                                            $ {{product.pricePerUnit}}.00 <span class="moneda-mxn">mxn</span>
                                        </p>
                                    </strong>
                                    <br>

                                    <strong>
                                        <p>Lo que tienes que saber de este producto</p>
                                    </strong>
                                    <ul>
                                        <li>Tipo de envase: {{product.specifications.[2]}}</li>
                                        <li>Recomendado para {{product.petCharacteristics.[0]}}
                                            {{product.petCharacteristics.[1]}}</li>
                                        <li>Formulado especialmente para {{product.petCharacteristics.[2]}}</li>
                                        <li>Comida {{product.specifications.[3]}}.</li>
                                        <li>Sabor: {{product.specifications.[0]}}</li>
                                        <li>Sabor y nutricion completa para tu mascota.</li>
                                        <li>Imagenes ilustrativas. El paquete puede variar segun peso.</li>
                                    </ul>
                                </strong>

                                <br>

                                <div>
                                    <div data-mdb-input-init class="form-outline">
                                        <input type="number" id="cantidadInput" class="form-control" min="1"
                                            value="1" />
                                        <button type="button" class="btn btn-outline-success btn-add-product"
                                            data-product-id="{{product._id}}" data-product-url="{{product.images.[0]}}"
                                            data-product-name="{{product.generalCharacteristics.[1]}}"
                                            data-product-brand="{{product.generalCharacteristics.[2]}}"
                                            data-product-category="{{product.petCharacteristics.[1]}}"
                                            data-product-info="Alimento {{product.generalCharacteristics.[1]}}
                                            {{product.generalCharacteristics.[2]}} para {{product.petCharacteristics.[0]}}
                                            {{product.petCharacteristics.[1]}} {{product.petCharacteristics.[2]}} sabor
                                            {{product.specifications.[0]}} en {{product.specifications.[2]}}
                                            de {{product.specifications.[1]}}"
                                            data-product-price="{{product.pricePerUnit}}">
                                            Agregar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="descripcion-producto">
                        <h3>Características del producto</h3>
                        <br>

                        <div class="caracteristicas-flex">
                            <div>
                                <p><span><i class="fa-regular fa-circle-check"></i></span> Mascota recomendada:
                                    <strong>{{product.petCharacteristics.[0]}}.</strong>
                                </p>
                            </div>
                            <div>
                                <p><span><i class="fa-regular fa-circle-check"></i></span> Etapa de la vida de la
                                    mascota:
                                    <strong>{{product.petCharacteristics.[1]}}.</strong>
                                </p>
                            </div>
                            <div>
                                <p><span><i class="fa-regular fa-circle-check"></i></span> Tamaño de la raza:
                                    <strong>{{product.petCharacteristics.[2]}}.</strong>
                                </p>
                            </div>
                            <div>
                                <p><span><i class="fa-regular fa-circle-check"></i></span> Tipo de comida:
                                    <strong>{{product.specifications.[3]}}.</strong>
                                </p>
                            </div>
                            <div>
                                <p><span><i class="fa-regular fa-circle-check"></i></span> Sabor:
                                    <strong>{{product.specifications.[0]}}.</strong>
                                </p>
                            </div>
                        </div>

                        <br>
                        <a href="#" id="toggleTable" style="text-decoration: none;">&emsp; Ver todas las características
                            <span><i class="fa-solid fa-chevron-down"></i></span></a>

                        <div class="tablas">
                            <div class="contenedor-together-info">

                                <div class="tablas-izq">
                                    <div class="caracteristicas-principales">
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <caption>Características principales</caption>
                                                <tbody>
                                                    <tr class="">
                                                        <td>Peso neto</td>
                                                        <td>{{product.specifications.[1]}}</td>
                                                    </tr>
                                                    <tr class="">
                                                        <td>Formato de venta</td>
                                                        <td>Unidad</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="caracteristicas-mascota">
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <caption>Características de la mascota</caption>
                                                <tbody>
                                                    <tr class="">
                                                        <td>Mascota recomendada</td>
                                                        <td>{{product.petCharacteristics.[0]}}</td>
                                                    </tr>
                                                    <tr class="">
                                                        <td>Etapa de vida de la mascota</td>
                                                        <td>{{product.petCharacteristics.[1]}}</td>
                                                    </tr>
                                                    <tr class="">
                                                        <td>Tamaño de la raza</td>
                                                        <td>{{product.petCharacteristics.[2]}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="otros">
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <caption>Otros</caption>
                                                <tbody>
                                                    <tr class="">
                                                        <td>Aporte de nutrientes</td>
                                                        <td>{{product.others.[0]}}</td>
                                                    </tr>
                                                    <tr class="">
                                                        <td>Necesidades especiales</td>
                                                        <td>{{product.others.[1]}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div class="tablas-der">
                                    <div class="caracteristicas-generales">
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <caption>Características generales</caption>
                                                <tbody>
                                                    <tr class="">
                                                        <td>Fabricante</td>
                                                        <td>{{product.generalCharacteristics.[0]}}</td>
                                                    </tr>
                                                    <tr class="">
                                                        <td>Marca</td>
                                                        <td>{{product.generalCharacteristics.[1]}}</td>
                                                    </tr>
                                                    <tr class="">
                                                        <td>Línea</td>
                                                        <td>{{product.generalCharacteristics.[2]}}</td>
                                                    </tr>
                                                    <tr class="">
                                                        <td>Nombre</td>
                                                        <td>{{product.generalCharacteristics.[3]}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="especificaciones">
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <caption>Especificaciones</caption>
                                                <tbody>
                                                    <tr class="">
                                                        <td>Sabor</td>
                                                        <td>{{product.specifications.[0]}}</td>
                                                    </tr>
                                                    <tr class="">
                                                        <td>Tipo de envase</td>
                                                        <td>{{product.specifications.[2]}}</td>
                                                    </tr>
                                                    <tr class="">
                                                        <td>Tipo de comida para mascotas</td>
                                                        <td>{{product.specifications.[3]}}</td>
                                                    </tr>
                                                    <tr class="">
                                                        <td>Proteína bruta</td>
                                                        <td>{{product.specifications.[5]}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="descripcion">
                        <h3>Descripción</h3>
                        <br>
                        <div>
                            <p class="description">{{product.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/DOM/product.js"></script>
<script src="/DOM/shopping_cart.js"></script>