<title>Detalles de envio</title>
<link rel="stylesheet" href="../CSS/shipping.css">

<nav class="navbar navbar-expand-sm navbar-light nav1">
    <a class="navbar-brand" href="/">NutriPet Healthy</a>

    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<div class="pasos-compra">
    <h3>1. Carro de compra</h3>
    <h3>2. Detalles de envio</h3>
    <h3>3. Opciones de pago</h3>
</div>

<div class="resumen-together">
    <div class="contenedor-master">

        <h4 class="h4-detalles-envio">Detalles de envio</h4>
        <hr class="hr-divisor">
        <form id="shipping-form" action="">
            <div id="error-message" style="color: red;"></div>
            <div class="detalles-linea-1">
                <input class="input-1" type="text" placeholder="Nombre" id="nombre" required>
                <input class="input-2" type="text" placeholder="Apellido" id="apellido" required>
            </div>

            <div>
                <input class="input-3" type="text" placeholder="Direccion 1" id="direccion1" required>
            </div>

            <div>
                <input class="input-3" type="text" placeholder="Direccion 2" id="direccion2">
            </div>

            <div class="detalles-linea-1">
                <input class="input-1" type="text" placeholder="Estado" id="estado" required>
                <input class="input-2" type="text" placeholder="Ciudad" id="ciudad" required>
            </div>

            <div class="detalles-linea-1">
                <input class="input-1" type="text" placeholder="Codigo Postal" id="codigoPostal" required>
                <input class="input-2" type="text" placeholder="Telefono" id="telefono" required>
            </div>
            <hr class="hr-divisor">
            <div class="radios">
                <div class="box-radio-1">
                    <div class="box-radio-3">
                        <input class="seleccion-radio" id="radioFree" type="radio" name="envio" value="gratis" required>
                    </div>
                    <div class="informacion-envio">
                        <h6>Envio gratis</h6>
                        <p class="envio">Llega entre 2 - 5 dias</p>
                    </div>
                </div>
                <div class="box-radio-2">
                    <div class="box-radio-3">
                        <input class="seleccion-radio" id="radioPay" type="radio" name="envio" value="costo">
                    </div>
                    <div class="informacion-envio">
                        <h6>Entrega el dia siguiente $100</h6>
                        <p class="envio">24 horas desde el pago</p>
                    </div>
                </div>
            </div>
        </form>
        <hr class="hr-divisor">
    </div>

    <div class="total-compra">
        <div class="media media-2">
            <div class="media-left">
                <h4 class="mt-0 mb-1 h4-ticket">Total de compra</h4>
                <div class="horizontal">
                    <hr class="hr-divisor-ticket">
                </div>
                <div>
                    <p id="detalle-compra" class="t-compra"></p>
                </div>
                <p id="costo-envio" class="t-compra">Costo del envio: $0.00</p>
                <div class="horizontal">
                    <hr class="hr-divisor-ticket">
                </div>
                <p id="sub-total" class="t-compra"></p>
                <p id="IVA" class="t-compra"></p>
                <p id="monto-total" class="t-compra"></p>
                <div class="inp-1">
                    <button id="siguiente-button">Siguiente</button>
                </div>
                <div class="inp-2">
                    <input id="cancelar-button" type="submit" value="Cancelar">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/DOM/shipping.js"></script>