<title>Resumen de compra</title>
<link rel="stylesheet" href="../CSS/shopping_cart.css">

<nav class="navbar navbar-expand-sm navbar-light nav1">
    <a class="navbar-brand" href="/">NutriPet Healthy</a>

    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<div class="pasos-compra">
    <h3>1. Carro de compra</h3>
    <h3>2. Detalles de envio</h3>
    <h3>3. Opciones de pago</h3>
</div>

<h1>Resumen de la compra</h1>

<div class="resumen-together">
    <div class="contenedor-master">
        <hr class="hr-divisor">
        <div id="contenedor-compras"></div>
    </div>
    
    <div class="total-compra">
        <div class="media media-2">
            <div class="media-left">
                <h4 class="mt-0 mb-1">Total de compra</h4>
                <div class="horizontal">
                    <hr class="hr-divisor-ticket">
                </div>
                <div>
                    <p id="detalle-compra" class="t-compra"></p>
                </div>
                <p id="costo-envio" class="t-compra">Costo del envio: $0.00</p>
                <div class="horizontal">
                    <hr class="hr-divisor-ticket">
                </div>
                <p id="monto-total" class="t-compra"></p>
                <div class="inp-1">
                    <button id="next-button">Siguiente</button>
                </div>
                <div class="inp-2">
                    <input id="cancel-button" type="submit" value="Cancelar">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/DOM/shopping_cart.js"></script>