<title>Tienda</title>
<link rel="stylesheet" href="../CSS/shop.css">

<nav class="navbar navbar-expand-sm navbar-light nav1" id="second-navbar">
    <a class="navbar-brand" href="/">NutriPet Healthy</a>

    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <form action="/shopping/shop" method="POST" class="d-flex my-2 my-lg-0">
            <input class="form-control me-sm-2" type="text" name="search" placeholder="Buscar productos" />
            <button class="boton__ btn btn-outline-success my-2 my-sm-0" type="submit">
                Buscar
            </button>
        </form>
    </div>
</nav>

<div class="container-to">
    <div>
        <nav class="navbar-lateral">
            <h5>Sabor</h5>
            <ul>
                {{#each flavorsWithCounts}}
                    <li><a class="second-nav" href="#" onclick="submitInformationForm('{{flavor}}')">
                        <span class="nav-item" title="{{flavor}}, {{count}} resultados">{{flavor}} ({{count}})</span>
                    </a></li>
                {{/each}}
            </ul>

            <h5>Marca</h5>
            <ul>
                {{#each brandsWithCounts}}
                    <li><a class="second-nav" href="#" onclick="submitInformationForm('{{brand}}')">
                        <span class="nav-item" title="{{brand}}, {{count}} resultados">{{brand}} ({{count}})</span>
                    </a></li>
                {{/each}}
            </ul>
        </nav>
    </div>

    <div class="container-1">
        {{#each products}}
        <div class="card" data-id="{{_id}}">
            <a href="/shopping/shop/{{_id}}">
                <div class="product">
                    <img class="card-img-top" src="../{{images.[0]}}" alt="Imagen producto" />
                    <div class="card-body">
                        <h4 class="card-title"><strong>{{generalCharacteristics.[1]}}</strong><br>
                            {{specifications.[0]}}
                            <br> {{generalCharacteristics.[2]}}
                        </h4>
                        <p class="card-text">{{specifications.[1]}} (Paquete de {{piece}}) x ${{pricePerUnit}}</p>
                    </div>
                </div>
            </a>
        </div>
        {{/each}}
    </div>
</div>

<footer>
    <nav aria-label="Page navigation example">
        <ul class="pagination pagination-m">
            {{#if (gt currentPage 1)}}
            <li class="page-item">
                <a class="page-link" href="?page={{subtract currentPage 1}}" aria-label="Previous">
                    <span aria-hidden="true">Anterior</span>
                </a>
            </li>
            {{/if}}
            {{#each (range 1 totalPages)}}
            <li class="page-item {{#if (eq ../currentPage this)}}active{{/if}}">
                <a class="page-link" href="?page={{this}}">{{this}}</a>
            </li>
            {{/each}}
            {{#if (lt currentPage totalPages)}}
            <li class="page-item">
                <a class="page-link" href="?page={{add currentPage 1}}" aria-label="Next">
                    <span aria-hidden="true">Siguiente</span>
                </a>
            </li>
            {{/if}}
        </ul>
    </nav>
</footer>

<script src="/DOM/shop.js"></script>