<title>Inicio</title>
<link rel="stylesheet" href="/CSS/home.css">

<nav class="navbar navbar-expand-sm navbar-light nav1">
    <a class="navbar-brand" href="/">NutriPet Healthy</a>

    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <a href="/shopping/category/todo">
            <button id="id-tienda" class="boton__ btn btn-outline-primary my-2 my-sm-0" type="submit">
                <i class="fa-solid fa-store"></i>&ensp;Toda la tienda
            </button>
        </a>
        <a href="/shopping/category/Perro">
            <button id="id-tienda" class="boton__ btn btn-outline-primary my-2 my-sm-0" type="submit">
                <i class="fa-solid fa-dog"></i>&ensp;Perro
            </button>
        </a>
        <a href="/shopping/category/Gato">
            <button id="id-tienda" class="boton__ btn btn-outline-primary my-2 my-sm-0" type="submit">
                <i class="fa-solid fa-cat"></i>&ensp;Gato
            </button>
        </a>
    </div>

    <div>
        <ul class="navbar-nav me-auto mt-2 mt-lg-0">
            <li class="nav-item dropdown">
                <a class="dropdown__ nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Mi cuenta</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    {{#if showInterface}}
                    <a class="dropdown-item" href="/users/userLogin">Ingreso</a>
                    <a class="dropdown-item" href="/users/userRegister">Registro</a>
                    {{/if}}

                    {{#if showDiscrepance}}
                    <form id="closeForm" action="/close/session" method="POST">
                        <a class="dropdown-item" href="#" onclick="document.getElementById('closeForm').submit()"><i
                                class="fa-solid fa-right-from-bracket"></i> Cerrar sesion</a>
                    </form>
                    <hr>
                    <a class="dropdown-item" href="/users/addDiscrepance">
                        <i class="fa-regular fa-envelope"></i>&ensp;Discrepancias</a>
                    {{/if}}

                </div>
            </li>
        </ul>
    </div>

    <a href="/shopping/shopping_cart">
        <button type="button" class="btn">
            <i class="fas fa-shopping-cart" style="color: rgb(153, 156, 161); font-size: 25px;"></i>
            <span class="text-white">2</span>
        </button>
    </a>
</nav>

<div>
    <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
        <ol class="carrusel__ carousel-indicators">
            <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active" aria-current="true"
                aria-label="First slide"></li>
            <li data-bs-target="#carouselId" data-bs-slide-to="1" aria-label="Second slide"></li>
            <li data-bs-target="#carouselId" data-bs-slide-to="2" aria-label="Third slide"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img src="/Images/carousel/image02.jpeg" class="w-100 d-block carrusel-img" alt="First slide" />
            </div>
            <div class="carousel-item">
                <img src="/Images/carousel/image01.jpg" class="w-100 d-block carrusel-img" alt="Second slide" />
            </div>
            <div class="carousel-item">
                <img src="/Images/carousel/image03.jpg" class="w-100 d-block carrusel-img" alt="Third slide" />
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<script src="/DOM/chatBot_user.js"></script>