<title>Inicio</title>
<link rel="stylesheet" href="/CSS/home.css">

<nav class="navbar navbar-expand-sm navbar-light nav1">
    <a class="navbar-brand" href="#">NutriPet Healthy</a>

    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <a href="/shopping/category/todo">
            <button id="id-tienda" class="boton__ btn btn-outline-primary my-2 my-sm-0" type="submit">
                <i class="fa-solid fa-store"></i>&ensp;Toda la tienda
            </button>
        </a>
        <a href="/shopping/category/Perro">
            <button id="id-tienda" class="boton__ btn btn-outline-primary my-2 my-sm-0" type="submit">
                <i class="fa-solid fa-dog"></i>&ensp;Perro
            </button>
        </a>
        <a href="/shopping/category/Gato">
            <button id="id-tienda" class="boton__ btn btn-outline-primary my-2 my-sm-0" type="submit">
                <i class="fa-solid fa-cat"></i>&ensp;Gato
            </button>
        </a>
    </div>

    <div>
        <ul class="navbar-nav me-auto mt-2 mt-lg-0">
            <li class="nav-item dropdown">
                <a class="dropdown__ nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Mi cuenta</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    {{#if showInterface}}
                    <a class="dropdown-item" href="/users/userLogin">Ingreso</a>
                    <a class="dropdown-item" href="/users/userRegister">Registro</a>
                    {{/if}}

                    {{#if showDiscrepance}}
                    <form id="closeForm" action="/close/session" method="POST">
                        <a class="dropdown-item" href="#" onclick="document.getElementById('closeForm').submit()"><i
                                class="fa-solid fa-right-from-bracket"></i> Cerrar sesion</a>
                    </form>
                    <hr>
                    <a class="dropdown-item" href="/users/userDiscrepance">
                        <i class="fa-regular fa-envelope"></i>&ensp;Discrepancias</a>
                    {{/if}}
                </div>
            </li>
        </ul>
    </div>

    <a href="/shopping/shopping_cart">
        <button type="button" class="btn">
            <i class="fas fa-shopping-cart" style="color: rgb(153, 156, 161); font-size: 25px;"></i>
            <span class="text-white" id="cartCount"></span>
        </button>
    </a>
</nav>

<hr>

<div>
    <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
        <ol class="carrusel__ carousel-indicators">
            <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active" aria-current="true"
                aria-label="First slide"></li>
            <li data-bs-target="#carouselId" data-bs-slide-to="1" aria-label="Second slide"></li>
            <li data-bs-target="#carouselId" data-bs-slide-to="2" aria-label="Third slide"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img src="/Images/carousel/image02.jpeg" class="w-100 d-block carrusel-img" alt="First slide" />
            </div>
            <div class="carousel-item">
                <img src="/Images/carousel/image01.jpg" class="w-100 d-block carrusel-img" alt="Second slide" />
            </div>
            <div class="carousel-item">
                <img src="/Images/carousel/image03.jpg" class="w-100 d-block carrusel-img" alt="Third slide" />
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<hr>

<div>
    <nav class="navbar navbar-expand-lg navbar-light-2 w-100 ">
        <div class="container">
            <a class="navbar-brand nav-2" href="#aboout-us">Acerca de nosotros</a>
            <a class="navbar-brand nav-2" href="#determine-age">¿Cómo determinar la edad de mi mascota?</a>
            <a class="navbar-brand nav-2" href="#how-to-feed-pets">¿Cómo alimentar a mi mascota?</a>
            <a class="navbar-brand nav-2" href="#how-to-feed-pets-lact">Mas infromacion</a>
        </div>
    </nav>
</div>

<div class="about-us" id="aboout-us">
    <div class="about-together">
        <div class="text-about">
            <h3>¡Bienvenidos a NutriPet Healthy!</h3>
            <br>
            <p>
                En NutriPet Healthy, nos enorgullece presentarles una tienda dedicada exclusivamente a la venta de
                alimentos secos de la más alta calidad para perros y gatos. Somos apasionados amantes de las mascotas, y
                sabemos que cuando se trata de nuestros compañeros de cuatro patas, solo lo mejor es suficiente.
            </p>

            <p>
                Nuestra tienda nació de una necesidad genuina: la necesidad de proporcionar alimentos nutritivos y
                saludables que contribuyan al bienestar y la longevidad de sus mascotas. Sabemos que la alimentación es
                un pilar fundamental para mantener a sus peluditos en óptimas condiciones de salud, y por eso, en
                NutriPet Healthy hemos reunido una selección de productos que cumplen con los más altos estándares de
                calidad y nutrición.
            </p>

            <p>
                Nos esforzamos por ofrecer solo aquellos alimentos que nosotros mismos daríamos a nuestras propias
                mascotas. Cada producto que encuentran en nuestra tienda ha sido cuidadosamente seleccionado para
                asegurar que su perro o gato reciba los nutrientes esenciales que necesita para vivir una vida feliz y
                saludable.
            </p>

            <p>
                Nuestro compromiso con la salud y el bienestar de sus mascotas va más allá de la simple venta de
                productos. Nos preocupamos profundamente por cada uno de esos adorables animalitos que alegran nuestras
                vidas. Sabemos que ellos son más que mascotas; son miembros de la familia, y merecen ser tratados con el
                mismo amor y cuidado que cualquier ser querido.
            </p>
        </div>
        <div class="image-about">
            <img src="/Images/resource/resource 3.jpg" alt="">
        </div>

        <div class="image-about">
            <img src="/Images/resource/resource 2.jpg" alt="">
        </div>
        <div class="text-about">
            <p>
                En NutriPet Healthy, creemos firmemente en la importancia de una buena nutrición. Por eso, ofrecemos a
                nuestros clientes los mejores alimentos para sus mascotas. Estamos
                aquí que cada compra que realicen con nosotros sea una inversión en la salud y la felicidad de sus
                peluditos.
            </p>

            <p>
                Les invitamos a explorar nuestra tienda y descubrir la variedad de opciones que tenemos para ofrecer.
                En NutriPet Healthy estamos seguros de que encontrarán el alimento perfecto para su perro o gato.
            </p>

            <p>
                Gracias por confiar en nosotros para el cuidado de sus mascotas. Juntos, podemos asegurar que cada
                mordida que den esté llena de amor y salud. ¡Bienvenidos a la familia NutriPet Healthy!
            </p>
        </div>
    </div>
</div>
<br>
<hr>

<div class="determine-age" id="determine-age">
    <div class="determine-age-info">
        <h1 class="title-determine-age-info">Periodos de cada etapa de la vida de tu mascota</h1><br>
        <p>Lo primero que tenemos que tener claro es cómo se dividen las etapas vitales en perros y gatos.</p>
        <br><br>
        <div class="together-determine-age-info">
            <div class="info-determine">
                <br>
                <br>
                <p>En el caso de los <strong>perros</strong>:</p>
                <p class="p2">
                    <i class="fa-solid fa-check" style="color: #00a81c;"></i> Se considera que son
                    <strong>cachorros</strong> (Júnior)
                    hasta los 8 meses de edad en las razas pequeñas, hasta los 12 meses para razas medianas y hasta los
                    15 meses para razas grandes.
                </p>
                <p class="p2">
                    <i class="fa-solid fa-check" style="color: #00a81c;"></i> Por lo tanto, un perro es
                    <strong>adulto</strong> a partir
                    de los 8 meses en razas pequeñas, a partir del año para razas medianas y a partir de los 15 meses
                    para razas grandes.
                </p>
                <p class="p2">
                    <i class="fa-solid fa-check" style="color: #00a81c;"></i> Mientras que un perro se considera que es
                    <strong>Sénior</strong> sobre los 8 años de edad para las razas pequeñas, sobre los 7 años en razas
                    medianas y en
                    torno a los 6 años en razas grandes.
                </p>
                <br>
                <br>
                <p>Respecto a los <strong>gatos</strong>:</p>
                <p class="p2">
                    <i class="fa-solid fa-check" style="color: #00a81c;"></i> Se considera que son
                    <strong>gatitos</strong> (Júnior) hasta el año
                    de edad.
                </p>
                <p class="p2">
                    <i class="fa-solid fa-check" style="color: #00a81c;"></i> Un gatito, a partir del año de vida, pasa
                    a la etapa de <strong>adulto</strong>.
                </p>
                <p class="p2">
                    <i class="fa-solid fa-check" style="color: #00a81c;"></i> Y se considera <strong>sénior</strong>
                    cuando cumple los 10
                    años de edad, si bien a partir de los 7 años se vuelven más sensibles a los efectos del paso del
                    tiempo.
                </p>
            </div>
            <div class="image-determine"><img class="image-determine-age" src="/Images/resource/resource 4.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<br>
<hr>

<br>
<div class="how-to-feed-pets" id="how-to-feed-pets">
    <div class="how-to-feed-pets-container">
        <h1 class="title-feed-pets">Cómo alimentar al perro y al gato según su edad</h1>
        <br>
        <h4><strong>Cachorro (Júnior)</strong></h4>
        <br>
        <p class="p3">Si se trata de un <strong>cachorro</strong>, es fundamental alimentarlo con un pienso específico
            para cachorros, ya
            que éstos tienen unas necesidades de alimentación especiales por encontrarse en la primera etapa de su vida,
            con mayores requerimientos nutricionales.</p>
        <p class="p3">Así pues, es necesario usar una <strong>dieta equilibrada y nutricionalmente completa</strong> que
            aporte
            diariamente todos los nutrientes necesarios que necesita un cachorro para un correcto desarrollo físico y
            mental.</p>
        <p class="p3">Es fundamental comprobar que la dieta permite una ganancia de peso, pero siempre <strong>evitar
                sobrealimentarlo</strong> para prevenir problemas de obesidad o esqueléticos sobre todo en el caso de
            las razas
            grandes. No es recomendable suplementar la dieta con otros alimentos, ya que podrían producirse
            desequilibrios nutricionales.
        </p>
        <p class="p3">En el caso de los <strong>gatitos</strong>, las necesidades de energía y de nutrientes son mucho
            más elevadas que
            las de los gatos adultos y necesitan recibir una alimentación apropiada que permita su desarrollo normal
            para prepararle para una vida larga, activa y saludable.
        </p>
        <p class="p3">Por lo tanto, es necesario usar un <strong>alimento específicamente diseñado</strong> para los
            gatitos ya que estos
            crecen muy rápidamente y doblan su peso a los diez días de haber nacido. Una vez los gatitos empiezan a
            ingerir otros alimentos además de la leche materna, debe mantenerse el comedero perfectamente limpio y
            renovar el alimento dos veces al día como mínimo.
        </p>
        <p class="p3">La cantidad de alimento sólido ingerida aumenta con la edad, de tal forma que a partir de las seis
            semanas los gatitos ya pueden ser destetados.
        </p>

        <br>
        <h4><strong>Adulto</strong></h4>
        <br>
        <p class="p3">Si el perro o gato es un animal <strong>adulto</strong>, se debe alimentar con un pienso diseñado
            para esta etapa,
            ya que tienen otras necesidades diferentes a los cachorros.</p>
        <p class="p3">Es fundamental alimentar al animal con una <strong>dieta equilibrada y nutricionalmente
                completa</strong> que
            aporte diariamente todos los nutrientes necesarios, cubriendo sus necesidades y aportando todo el sabor para
            el disfrute de su comida.</p>

        <br>
        <h4><strong>Sénior</strong></h4>
        <br>
        <p class="p3">Cuando los animales alcanzan una edad más avanzada y entran en su etapa <strong>Sénior</strong>,
            por lo general son
            más sedentarios y no necesitan tanto aporte de energía, además de tener otras necesidades nutricionales.</p>
        <p class="p3">Por este motivo es muy importante llevar una <strong>dieta específica</strong> para esta etapa de
            vida, con un
            adecuado nivel de proteína que ayude a mantener la masa muscular, un óptimo nivel de fibra y una densidad
            calórica menor a través de un aporte limitado de grasas, pero suministrando todos los ácidos grasos
            esenciales.</p>
    </div>
</div>

<br>
<hr>
<br>

<div class="how-to-feed-pets" id="how-to-feed-pets-lact">
    <div class="how-to-feed-pets-container">
        <h1 class="title-feed-pets">Alimentación en perras y gatas lactantes</h1>
        <br>
        <p class="p3">La <strong>lactancia</strong> es la etapa fisiológica de mayor exigencia para las perras y las
            gatas, durante la
            cual sus necesidades energéticas pueden aumentar de tres a cuatro veces más de lo normal.</p>
        <p class="p3">Lo aconsejable en esta etapa es alimentarlas con un <strong>pienso para cachorros</strong> en el
            caso de las perras
            o <strong>para gatitos</strong> en el caso de las gatas, que pueda ser consumido también por los
            cachorros/gatitos al momento
            de comenzar el destete.</p>
        <p class="p3">Se trata de piensos con un <strong>contenido energético y nutricional más alto</strong> que otro
            tipo de alimentos
            para adultos, para que la madre mantenga un buen estado de salud general, producir suficiente leche y
            alimentar a los cachorros/gatitos para poder garantizar así, el óptimo crecimiento de la camada.
        </p>
        <p class="p3">En el caso de las <strong>perras lactantes</strong> las necesidades varían en función del número
            de cachorros,
            edad, raza, condiciones ambientales y según la semana de lactación en la que se encuentren, las cantidades
            indicadas en las guías de alimentación deberían repartirse hasta en tres tomas.
        </p>
        <p class="p3">Siempre que la perra sea capaz de racionarse el alimento, se recomienda dejar el <strong>alimento
                a libre
                disposición</strong> durante el periodo de lactación, para que coma a lo largo del día la cantidad que
            necesite.
        </p>
        <p class="p3">Para las <strong>gatas lactantes</strong>, las necesidades energéticas son más altas que durante
            la gestación, ya
            que durante las cuatro primeras semanas de vida los gatitos dependen completamente de la leche de la madre.
            Es normal que durante este período de lactación la gata pierda algo de peso a medida que va utilizando sus
            reservas corporales (nunca más del 10%), peso que recupera cuando se destetan los gatitos.
        </p>
        <p class="p3">Después del destete se debe <strong>disminuir gradualmente la cantidad de alimento</strong> hasta
            que la gata
            ingiera las cantidades normales para su mantenimiento.
        </p>
    </div>
    <br>
</div>
<br>
<footer>
    <div class="conteiner-footer">
        <div class="c1-footer">
            <a class="navbar-brand" href="#">NutriPet Healthy</a>
        </div>
    </div>
</footer>

<script src="/DOM/IBM Watson.js"></script>