nav {
    background-color: rgb(213, 216, 220);
    width: 100%;
}

nav .navbar-brand {
    font-weight: 700;
    transition: transform 0.3s ease;
}

nav .navbar-brand:hover {
    transform: scale(1.1);
}

.espacio {
    padding: 30px;
    width: 100%;
}

.info-admin img {
    max-width: 100px;
    border-radius: 5px;
    margin-left: 15px;
}

.image-configuration {
    max-width: 200px;
    border-radius: 5px;
}

.info-admin p {
    font-weight: 700;
    margin-left: 15px;
}

.contenedor-herramientas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contenedor-herramientas img {
    margin: 20px 25px 0px 25px;
    width: 200px;
    height: 200px;
    border: 3px solid rgb(153, 156, 161);
    border-radius: 20px;
    padding: 20px;
}

.contenedor-herramientas p {
    margin-top: 5px;
    color: rgb(53, 58, 64);
    text-align: center;
    font-size: larger;
    font-weight: 700;
}

.herramienta {
    transition: transform 0.3s ease;
}

.herramienta:hover {
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    transform: scale(1.1);
}

hr {
    border: 1px solid;
}

a {
    text-decoration: none;
}

#alerta {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 100px;
    width: 700px;
}

.register-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: black;
    width: 465px;
    margin-top: 10px;
    border: 1px solid rgb(219, 220, 223);
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: width 0.5s ease; 
}

.registrar {
    background-color: rgb(39, 168, 68);
    font-size: large;
    font-weight: 700;
    width: 445px;
    margin-top: 50px;
    color: white;
    border: 1px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: width 0.5s ease; 
}

@media (max-width: 600px) {
    .register-input {
        width: 450px;
    }
    .registrar {
        width: 450px;
    }
}