nav {
    background-color: rgb(53, 58, 64);
    width: 100%;
    z-index: 1000;
}

nav .navbar-brand {
    color: white;
    font-size: larger;
    font-weight: bold;
    text-align: left;
    margin-left: 15px;
}

nav .navbar-brand:hover {
    color: rgb(153, 156, 161);
}

nav div .form-control {
    width: 500px;
}

nav div .boton__ {
    color: rgb(153, 156, 161);
    border: 1px solid rgb(153, 156, 161);
    margin-right: 10px;
}

.card {
    width: 260px;
    margin-right: 10px;
    margin-top: 20px;
}

.card-title {
    font-size: small;
}

.product {
    margin-top: 20px;
    margin-left: 35px;
    margin-bottom: 10px;
    width: 190px;
}

.card-text {
    font-size: small;
}

.card-img-top {
    height: 250px;
}

.container-1 {
    display: flex;
    justify-content: center;
    max-width: calc(100% - 0%); /*  */
    margin-top: 30px;
    margin-left: 0%; /*  */
    flex-wrap: wrap;
}

.card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.363);
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;
}

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}