<title>Administrador</title>
<link rel="stylesheet" href="/CSS/homeAdmin.css">

<nav class="navbar navbar-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/admin/homeAdmin">NutriPet Healthy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        {{#if infoUpdate}}
        <div class="alert alert-success alert-dismissible fade show" role="alert" id="alerta">
            <strong>{{infoUpdate.text}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {{/if}}

        {{#if showWelcomeMessage}}
        <div class="alert alert-success alert-dismissible fade show" role="alert" id="alerta">
            <strong>Bienvenido: {{user.name}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {{/if}}

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                    Administrador
                </h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>

            <div class="info-admin">
                <img src="../../{{user.image}}" class="img-fluid rounded-top" alt="" />
                <p>{{user.name}} {{user.surname}}</p>
            </div>

            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="modal" href=""
                            data-bs-target="#id-modal-configurar-administrador"><i class="fa-solid fa-gear"></i>
                            Configuracion</a>
                    </li>
                    <hr>
                    <li class="nav-item">
                        <form id="logoutForm" action="/admin/homeAdmin/close" method="POST">
                            <a class="nav-link" href="#" onclick="document.getElementById('logoutForm').submit()"><i class="fa-solid fa-right-from-bracket"></i> Cerrar
                                sesion</a>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="espacio">
    <label for=""></label>
</div>

<div class="contenedor-herramientas">

    <a href="/admin/addAdmin">
        <div class="herramienta">
            <img src="/Images/admin/add_user.jpg" alt="">
            <p>Agregar administrador</p>
        </div>
    </a>

    <a href="/admin/addProduct">
        <div class="herramienta">
            <img src="/Images/admin/add_product.png" alt="">
            <p>Agregar producto</p>
        </div>
    </a>

    <a href="/admin/adminDelete">
        <div class="herramienta">
            <img src="/Images/admin/del_user.jpg" alt="">
            <p>Eliminar administrador</p>
        </div>
    </a>

    <a href="/admin/productOption">
        <div class="herramienta">
            <img src="/Images/admin/update.png" alt="">
            <p>Editar/Eliminar producto</p>
        </div>
    </a>

    <a href="/admin/discrepances">
        <div class="herramienta">
            <img src="/Images/admin/discrepanse.png" alt="">
            <p>Discrepancias</p>
        </div>
    </a>
</div>


<!-- Modal Configurar Administrador -->
<div class="modal fade" id="id-modal-configurar-administrador" tabindex="-1" data-bs-backdrop="static"
    data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xmd" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleId">
                    Configurar datos de Administrador
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" data-id="{{user._id}}">
                <form action="/admin/homeAdmin/{{user._id}}?_method=PUT" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="_method" value="PUT">
                    <div class="input-together">
                        <input name="name" id="name" type="text" placeholder="Nombre(s)" class="register-input"
                            autocomplete="name" value="{{user.name}}" required>
                        <input name="surname" id="input_apellidos" type="text" placeholder="Apellido(s)"
                            class="register-input" value="{{user.surname}}" required>
                    </div>
                    <input name="email" id="input_email_registro" type="email" class="register-input"
                        value="{{user.email}}" readonly>
                    <input name="password" id="input_password_registro" type="password" placeholder="Contraseña"
                        class="register-input" required>
                    <input name="password_2" id="input_password2_registro" type="password"
                        placeholder="Confirmar contraseña" class="register-input" required><br>

                    <input name="image" type="file" class="form-control" aria-describedby="fileHelpId"
                        onchange="previewImage(this)" required /><br>
                    <img id="preview" class="image-configuration" src="../../{{user.image}}" alt="Imagen de perfil">

                    <input type="submit" value="Guardar" class="registrar">
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/DOM/homeAdmin.js"></script>