<title>Inicio sesion</title>
<link rel="stylesheet" href="/CSS/forms.css">

<nav class="navbar navbar-expand-sm navbar-light nav1">
    <a class="navbar-brand" href="/">NutriPet Healthy</a>
</nav>

{{#each loginErrors}}
<div class="alert alert-danger alert-dismissible fade show" role="alert" id="alerta">
    <strong><i class="fa-solid fa-triangle-exclamation"></i>&ensp;{{text}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/each}}

<div class="contenedor">
    <div class="boxSlogan">
        <h1>NutriPet Healthy</h1>
        <p>Iniciar sesion nunca fue tan facil.</p>
    </div>

    <div class="boxRegister">
        <h2>Iniciar sesion</h2>
        <hr>

        <form action="/users/userLogin" method="POST">
            <input name="email" type="email" placeholder="Tu correo" class="register-input" value="{{email}}" required>
            <input name="password" type="password" placeholder="Contraseña" class="register-input" required>
            <input type="submit" value="Ingresar" class="registrar"><br><br>
        </form>
        ¿Aun no tienes una cuenta? <a href="/users/userRegister"><b>Registrate!</b></a>
    </div>
</div>