<title>Registro</title>
<link rel="stylesheet" href="/CSS/forms.css">

<nav class="navbar navbar-expand-sm navbar-light nav1">
    <a class="navbar-brand" href="/">NutriPet Healthy</a>
</nav>

{{#each registerErrors}}
<div class="alert alert-danger alert-dismissible fade show" role="alert" id="alerta">
    <strong><i class="fa-solid fa-triangle-exclamation"></i>&ensp;{{text}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/each}}

<div class="contenedor">
    <div class="boxSlogan">
        <h1>NutriPet Healthy</h1>
        <p>NutriPet Healthy: alimentando la vitalidad de tus mascotas con calidad, cariño y compromiso, porque su
            bienestar es nuestra pasión.</p>
    </div>

    <div class="boxRegister">
        <h2>Registrate</h2>
        <h6>Es facil y rapido</h6>
        <hr>

        <form action="/users/userRegister" method="POST">
            <div class="input-together">
                <input name="name" type="text" placeholder="Nombre(s)" class="register-input" value="{{name}}" required>
                <input name="surname" type="text" placeholder="Apellido(s)" class="register-input" value="{{surname}}"
                    required>
            </div>
            <input name="email" type="email" placeholder="Tu correo" class="register-input" value="{{email}}" required>
            <input name="password" type="password" placeholder="Contraseña" class="register-input" required>
            <input name="password_2" type="password" placeholder="Confirmar contraseña" class="register-input" required>
            <input type="submit" value="Registrarse" class="registrar"><br><br>
        </form>
        <a href="/users/userLogin"><b>Ya tengo una cuenta!</b></a>
    </div>
</div>